.tasks{
    border: 1px solid #ccc;
    list-style: none;
    padding: 0 15px 15px;
    margin-top: 0;
}

.tasks__item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__item--hiden {
    display: none;
}